/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #00c6ff;
}

/* Hero Section */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #333;
    flex-direction: column;
}

.hero-content {
    max-width: 800px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #00c6ff;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #00c6ff;
}

#hero p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1.6;
}

.btn {
    background-color: #00c6ff;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #008ecf;
}

/* Skills Section */
#skills {
    padding: 50px 20px;
    background-color: #222;
    text-align: center;
}

#skills h2 {
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-column {
    flex: 1;
    margin: 10px;
    min-width: 250px;
    text-align: left;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    background: #444;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
}

.skills-list li:hover {
    background: #00c6ff;
    color: black;
}

/* Education Section */
#education {
    padding: 50px 20px;
    background-color: #333;
    text-align: left;
}

#education h2 {
    margin-bottom: 20px;
}

.education-item {
    background: #444;
    padding: 20px;
    margin: 10px auto;
    width: 60%;
    border-radius: 10px;
}

.education-item h3 {
    margin-bottom: 10px;
}

.education-item p {
    font-size: 16px;
}

/* Experience Section */
#experience {
    padding: 50px 20px;
    background-color: #222;
}

.experience-item {
    background-color: #444;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

.experience-item h3 {
    margin-bottom: 10px;
}

.experience-item p {
    font-size: 16px;
}

/* Footer Section */
footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: #fff;
}

footer .contact-info p {
    margin: 5px 0;
}

footer .contact-info a {
    color: #00c6ff;
    text-decoration: none;
}

footer .contact-info a:hover {
    text-decoration: underline;
}
